.container{
  background-image: url("https://img.freepik.com/free-vector/pastel-watercolor-painted-background_23-2148959638.jpg");
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container-fruid{
  width: 1320px;
  height: 700px;
  background-color: white;
  margin: auto;
  justify-content: center;
  border-radius: 50px;
}

.w-50{
  width: 60%;
  height: 100%;
  float: left;
}
.w-40{
  width: 40px;
  height: 100%;
  float: left;
}

.background{
  background-image: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-size: cover;
  border-radius: 50px;
  height: 700px
}

input{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 40%;
  height: 50px;
  font-size: 20px;
  
}


button{

   width: 100px;
  height: 50px;
  background-color: #00212A;
  color: wheat;
   font-size: 20px;
    border-radius: 40px;
box-shadow:  50px 50px 100px #5a5a5a,
             -50px -50px 100px #ffffff;
}


.card{
  border-radius: 28px;
background: #efeded;
box-shadow:  35px 35px 50px #8d8d8d,
             -35px -35px 50px #ffffff;
             width: 340px;
             height: 300px;
             padding: 20px;
}